body {
    color: #333333;
    font-family: Aria;
    margin: 00 auto;
    max-width: 650px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding-left: 450px;
}

header {
    margin-top: 64px;
    margin-bottom: 16px;
}

.links {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

a {
    padding: 15px;
    color: #fff;
    font-size: 22px;
    font-family: aria;
}

a:hover {
    color: #333333;
    background-color: #fff;
    border: 1.5px solid #444444;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

p {
    font-size: 20px;
    font-weight: 400;
}

.portrait {
    height: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}